@font-face {
    font-family: Segoe UI;
    src: url(/templates/default/theme/SegoeUI.ttf);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #369;
}

a:hover {
    opacity: 0.9;
    color: black;
}

.sidebar {
    height: 100%;
    background: #222;
    color: white;
    width: 100px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid gray;
}

.sidebar .bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: inherit;
}

.content {
    display: inline-block;
    position: relative;
    min-height: calc(100% - 40px);
    width: calc(100% - 470px);
    margin-left: 101px;
    color: black;
    padding: 20px;
    margin-bottom: 62px;
}

.foot {
    width: calc(100% - 141px);
    margin-left: 101px;
    position: absolute;
    background: #f1f1f1;
    color: gray;
    bottom: 0;
    left: 0;
    padding: 20px;
    border-top: 1px solid gray;
    z-index: 50;
}

.right {
    min-height: 100%;
    height: 100%;
    background: #f7f7f7;
    color: black;
    width: 299px;
    border-left: 1px solid #ccc;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 12px;
    z-index: 40;
}

.sub {
    padding: 17px;
    margin: 20px 6px 20px 20px;
    border: 1px solid #ccc;
    background: #f1f1f1;
}

.sidebar-icon, #sidebar-logo {
    width: 60px;
}

.blog {
    padding: 9px;
    color: black;
    margin-bottom: 20px;
}

.blog-title {
    font-size: 22px;
    display: inline-block;
    border-bottom: 1px solid #369;
}

.blog-text {
    font-size: 16px;
    margin-top: 17px;
}

.blog-name {
    float: right;
    display: inline-block;
}

.blog-info {
    padding-top: 5px;
    margin-top: 9px;
    border-top: 1px solid #dddddd;
}

.links, .copyright {
    display: inline-block;
}

.copyright {
    float: right;
    text-align: right;
}

.links a {
    margin-right: 11px;
}

.page-title {
    font-size: 30px;
    margin-bottom: 26px;
    font-weight: bold;
}

.sidebar {
    z-index: 203;
}

.sidebar-menu {
    left: 100px;
    bottom: 0;
    position: fixed;
    display: none;
    z-index: 203;
    border-left: 1px solid #333;
}

.sidebar-menu .p-menu {
    text-align: left;
    display: block;
    width: 200px;
    padding: 14px;
    background: #222;
    color: white;
    z-index: 203;
}

.sidebar-menu .p-menu:hover {
    background: #333;
}

.sidebar-menu-button:hover .sidebar-menu {
    display: block;
}

.sidebar-menu-icon {
    width: 24px;
    margin-right: 12px;
    float: left;
}

.no-center {
    text-align: left;
}

.hidden-layout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.opacity-layout {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #777;
    opacity: 0.96;
    z-index: 100;
    display: block;
}

table.fullscreen, table.tr, table.td {
    width: 100%;
    height: 100%;
    border: 0;
    text-align: center;
    vertical-align: middle;
}

.auth-window, .reg-window {
    width: 400px;
    background: white;
    position: relative;
    z-index: 101;
    display: none;
}

.auth-window-controls, .reg-window-controls
{
    float: right;
    font-size: 16px;
    margin-top: 3px;
}

.auth-window-controls img, .reg-window-controls img {
    width: 32px;
}

.auth-window-title, .reg-window-title {
    padding: 18px;
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #ccc;
    font-size: 20px;
    text-align: left;
}

.auth-window-content, .reg-window-content {
    background: white;
    border: 1px solid #ccc;
    //height: 240px;
}

.auth-window-content-table, .auth-window-content-tr, .auth-window-content-td,
.reg-window-content-table, .reg-window-content-tr, .reg-window-content-td{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.auth-window-content-td, .reg-window-content-td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
}

.auth-window-content-td input, .reg-window-content-td input {
    width: 220px;
    margin: 5px;
}

.auth-window-content-td button, .reg-window-content-td button {
    margin: 10px;
}

#auth-form-captcha, #reg-form-captcha {
    width: 100px;
}

#auth-form-captcha-img, #reg-form-captcha-img {
    position: relative;
    margin-top: -10px;
    top: 11px;
}

input[type="text"], input[type="password"], textarea, select, option {
    font-family: Segoe UI;
    padding: 10px;
    color: gray;
    background: #fbfbfb;
    font-size: 16px;
    border: 1px solid #bbb;
}

button {
    font-family: Segoe UI;
    padding: 8px;
    min-width: 100px;
    color: white;
    background: green;
    font-size: 18px;
    border: 1px solid gray;
    transition: background ease 0.2s;
}

button:hover {
    background: darkviolet;
}

button:active {
    background: navy;
}

.login-enter-img {
    width: 64px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-form-forgot-password {
    float: right;
    text-align: right;
    margin-right: 20px;
    top: -5px;
    position: relative;
}

.auth-window-controls, .reg-window-controls {
    position: relative;
    top: -5px;
    float: right;
}

.auth-window-buttons, .reg-window-buttons {
    width: 100%;
    margin: 0;
    padding: 0;
}

td.auth-window-buttons, td.reg-window-buttons {
    width: inherit;
}

.auth-window-buttons button, .reg-window-buttons button {
    margin-top: 13px;
    margin-left: 16px;
}

.auth-window-buttons button {
    margin-top: -3px;
}

.auth-form-hint, .reg-form-hint {
    padding: 0 10px 10px;
    color: gray;
}

.user-icon {
    width: 10px;
}

img.captcha {
    cursor: pointer;
}

.loading-image {
    width: 64px;
    float: right;
    vertical-align: middle;
}

.loading-layout, .error-layout {
    vertical-align: middle;
    position: fixed;
    padding: 11px;
    top: 0;
    right: 0;
    border: 1px solid gray;
    background: white;
    display: none;
    z-index: 500;
    text-align: right;
}

.loading-layout {
    box-shadow: 0px 0px 9px 0px rgba(100, 100, 100, 1);
    top: 20px;
    right: 20px;
    opacity: 0.8;
}

.error-layout {
    padding: 20px;
    border: none;
    box-shadow: 0px 0px 9px 0px rgba(255, 0, 0, 1);
    bottom: 20px;
    right: 20px;
    top: auto;
    width: 240px;
    height: auto;
    background: #fee;
    border-radius: 17px;
}

.error-text {
    display: inline-block;
}

.blog-list {
    display: inline-block;
    border-radius: 40px;
    padding: 0;
    overflow: hidden;
    margin: 0 0 12px;
}

.blog-link {
    padding: 2px 2px 2px 17px;
}

.language-picker {
    display: inline-block;
    float: right;
    font-weight: normal;
}

#userbar {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.username {
    font-size: 16px;
}

img.flag {
    width: 26px;
}

.right-text {
    float: right;
    display: inline-block;
}

.right-div {
    text-align: right;
}

.gray {
    color: gray;
}

.b-content {
    padding: 0 30px 30px 30px;
}

.b-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.b-text {

}

.right-icon {
    width: 32px;
    float: left;
    margin-right: 9px;
}

.right-auth-form {
    font-size: 16px;
    display: inline;
}

.right-auth-link {
    margin-top: -5px;
}

.right-button {
    margin-bottom: 5px;
}

.blogname {
    color: gray;
    margin: 2px;
}

.pointer {
    width: 16px;
}

.last-comment {
    font-size: 14px;
    padding: 3px;
    margin-bottom: 5px;
    text-align: left;
}

a.not-a-link {
    cursor: default;
    text-decoration: none;
    border-bottom: none !important;
    color: black;
}

.not-a-link * {
    cursor: default;
    text-decoration: none;
    border-bottom: none !important;
}

.h1, .big-text {
    font-size: 32px;
}

.comments-count {
    margin-left: 6px;
    margin-bottom: 20px;
}

.comment {
    padding: 5px;
    margin: 6px;
    display: block;
}

.comment-content {
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    padding: 10px 11px;
    border: 1px solid #bbb;
    border-top: 0;
}

.comment-info {
    border: 1px solid #bbb;
    border-bottom: 0;
    padding: 7px;
    background: #f5f5f5;
    display: block;
}

.comment-links {
    padding: 4px;
    /*border: 1px solid #8b8;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    display: block;*/
}

.comment-content img {
    max-width: 80%;
}

blockquote {
    margin: 0 0 0 20px;
    padding: 6px 6px 6px 10px;
    border-left: 5px solid gray;
    color: #222;
}

#add-comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

#newcomment {
    height: 300px;
}

.rating-img {
    width: 10px;
}

.touchable .rating-img {
    cursor: pointer;
}

.rating {
    color: gray;
    font-size: 14px;
}

.plus, .minus {
    font-weight: bold;
}

.plus {
    color: green;
}

.minus {
    color: red;
}

.add-comment-l {
    margin-top: 20px;
}

.add-comment-b, .create-topic-b {
    background: linear-gradient(to bottom, #f1f1f1 0%, #d2d2d2 100%);
    border-radius: 2px;
    border: 1px solid #c5c5c5;
    color: black;
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.4);
}

.add-comment-b:hover, .create-topic-b:hover {
    background: linear-gradient(to top, #f1f1f1 0%, #d2d2d2 100%);
}

.add-comment-b:active, .create-topic-b:active {
    background: linear-gradient(to top, #d1d1d1 0%, #b2b2b2 100%);
}

.reply-link {
    cursor: pointer;
    font-size: 16px;
}

.bold {
    font-weight: bold;
    color: black;
}

.me {
    font-weight: bold;
    color: #33f
}

.no-topics {
    font-size: 24px;
}

a.add-new-topic {
    padding: 11px;
    background: #eee;
    text-align: center;
    border: 1px solid #ccc;
    color: black;
    display: block;
    font-size: 20px;
}

a.add-new-topic:hover {
    background: #ddd;
}

.add-new-topic-p {
    display: block;
    margin: 22px 6px 12px 22px;
}

#topic-name, #topic-blog {
    width: 560px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 15px;
}

.all-comments {
    margin-left: 6px;
}